@headerHeight: 44px;

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #efeff4;
  position: relative;
  height: @headerHeight;

  .title {
    text-align: center;
    margin: 0;
  }
}

.forward-enter {
  transform: translateX(100%);
}

.forward-enter-active {
  transition: all 200ms ease-in;
  transform: translateX(0);
}

.forward-exit {
  transform: translateX(0);
}

.forward-exit-active {
  transition: all 200ms ease-in;
  transform: translate(100%);
}

.back-enter {
  transform: translateX(-100%);
}

.back-enter-active {
  transform: translateX(0);
  transition: all 200ms ease-in;
}

.back-exit {
  transform: translateX(0);
}

.back-exit-active {
  transform: translate(100%);
  transition: all 200ms ease-in;
}
